# Ignore Windows files
desktop.ini

# Ignore folder contents
data/**/**.dst
data/**/**.log
data/**/**.raw
data/**/**.rtraw
data/**/*.dst
data/**/*.log
data/**/*.root
data/**/*.rtraw
plots/**/**.eps
plots/**/**.pdf
plots/**/**.png
plots/**/**.root
plots/**/*.eps
plots/**/*.pdf
plots/**/*.png
plots/**/*.root

# Ignore jobs
jobs/ana/**.txt
jobs/filenames/**.txt
jobs/rec/**.txt
jobs/sim/**.txt
jobs/sub/**.sh
jobs/sub/**.sh.*.*
jobs/**/sed*

# Ignore settings
**.code-workspace
.vscode/**
.bash**

# Ignore CMT files
**.cmtref
**.fferr
**.ffwarn
**.history
**.makesav
**.makecmtsave
**.in
**.shstamp
**.stamp
fort.*
core.*

# Ignore CVS files
CVS
Entries
Repository
Root
Tag

# Ignore binaries
**.[oad]
**.do
**.exe
**.make
**.so
*ACLiC_dict_rdict.pcm
execute
boss/workarea/InstallArea/**
main

# Ignore temporary files
*.tmp
*.bosserr
*.bosslog

# Compontents of topoana
**.err
**.tex
**.log
**.out
**.root
**.pdf
**.time
**.dat_auto
**.dat_temp*
boss/workarea/Analysis/TopoAna/v1.6.2/test/*
boss/workarea/Analysis/TopoAna/v1.6.2/test/**
jobs/topoana/**.txt
jobs/topoana/**/**.txt
jobs/topoana/**/*.txt
jobs/topoana/*/*.txt
jobs/topoana/*/*/*.txt