# Ignore folder contents
data/**/*.dst
data/**/*.raw
data/**/*.root
data/**/*.rtraw
data/**/*.log
log/**/*.log
plots/**/*.eps
plots/**/*.png
plots/**/*.pdf
plots/**/*.root
scripts/**/*.log

# Ignore jobs
jobs/ana/**/*.txt
jobs/rec/**/*.txt
jobs/sim/**/*.txt
jobs/sub/**/*.sh
jobs/sub/**/*.sh.*.*
jobs/**/fort.*
jobs/**/*.fferr
jobs/**/*.ffwarn

# Ignore settings
.vscode/**
**.code-workspace

# Ignore binaries
**.[oad]
**.do
**.so
**.exe
*ACLiC_dict_rdict.pcm
execute
main