# Ignore folder contents
data/**/*.dst
data/**/*.log
data/**/*.raw
data/**/*.root
data/**/*.rtraw
log/**/*.log
plots/**/*.eps
plots/**/*.pdf
plots/**/*.png
plots/**/*.root
scripts/**/*.log

# Ignore jobs
jobs/ana/**/*.txt
jobs/filenames/**/*.txt
jobs/rec/**/*.txt
jobs/sim/**/*.txt
jobs/sub/**/*.sh
jobs/sub/**/*.sh.*.*

# Ignore settings
**.code-workspace
.vscode/**
.bash**

# Ignore CMT files
**.cmtref
**.fferr
**.ffwarn
**.history
**.in
**.shstamp
**.stamp
fort.*

# Ignore CVS files
CVS
Entries
Repository
Root
Tag

# Ignore binaries
**.[oad]
**.do
**.exe
**.make
**.so
*ACLiC_dict_rdict.pcm
execute
main